* {
  padding: 0;
  margin: 0;
}
/* body {
  display: flex;
} */

.player {
  padding: 10px;
  background-color: #ddddaa;
  height: 100vh;
  width: 50vw;
}
.bank {
  padding: 10px;
  background-color: #ffaaff;
  height: 100vh;
  width: 50vw;
}
